* {
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scroll bar */

body {
    background-color: #D1CDC4;
    overflow: auto;
}

.nav-container {
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    height: 20%;
    padding-top: 1%;
    margin-bottom: 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container2 {
    display: flex;
    color: white;
    justify-content: end;
    padding-right: 1%;
}

.nav-container3 {
    display: flex;
    height: 100%;
    padding: 4%;
    align-items: center;
    justify-content: space-between;
}

.login-signup {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    cursor: pointer;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: start;
}

.logo {
    max-width: 200px;
}

.search-li {
    display: flex;
    justify-content: center;
    flex: 1;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.cart-icon-container {
    flex:1;
    display: flex;
    justify-content: end;
}

input[type="text"] {
    flex: 1;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px 40px 5px 10px;
    font-size: 16px;
}

.search-button {
    background-color: #8C52FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
}

.main-container {
    border-radius: 5px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 13%;
}

.item-parent {
    display: flex;
    /* align-items: center; */
    background-color: #303030;
    padding: 4%;
    width: 650px;
    height: 350px;
    /* max-width: 1100px; */
    max-height: 620px;
    border-radius: 5px;
    border: 3px solid black;
    margin-bottom: 3%;
    margin-right: 5%;
}

.remove-container {
    align-self: flex-end;
    margin-bottom: 9%;
}

.remove-cart-item {
    width: 30px;
    height: 30px;
    background-color: rgb(235, 64, 64);;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 1000;
    cursor: pointer;
    transition: opacity 0.3s;
}

.remove-cart-item:hover {
    opacity: 0.6;
}

.item-description-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 2%;
    /* margin-top: 4%; */
    flex: 1;
    text-align: center;
}
  
.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 10px); /* 4 items per row with 10px margin between each item */
    margin: 5px; /* margin between each item */
    /* background-color: white; */
    height: auto;
    border:none;
    border-radius: 5px;
    margin-bottom: 2%;
}

.item-pic {
    width: 70%;
    height: 100%;
    border: 3px solid black;
    flex: 1;
}

.item-img {
    height: 100%;
    width: 100%;
}

.item-name {
    font-weight: bold;
    font-size: 120%;
}

.info {
    font-size: 180%;
    font-weight: bold;
}

.info-shipping {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 130%;
    font-weight: bolder;
}

.info1 {
    font-size: 200%;
    font-weight: bolder;
}

.checkout-all-price {
    color: #FF5733;
}

.item-price {
    color: #ea927e;
    font-size: 90%;
}

.item-title {
    font-size: 180%;
    color: white;
}

.login-signup:hover {
    color: #9060ef;
}

.item-buttons {
    margin-top: 25%;
    display: flex;
}

.item-description {
    margin-top: 4%;
    width: 100%;
    font-size: 130%
}

.remove-button {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 120%;
    height: 70px;
    width: 190px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5%;
    cursor: pointer;
    transition: opacity 0.15s;
    border: 2px solid black;
    margin-bottom: 5%;
    margin-top: 5%;
}

#view-button {
    margin-top: 4%;
    margin-bottom: 4%;
}

.remove-button:hover {
    opacity: 0.9;
}

.buy-button {
    background-color: rgb(216, 211, 211);;
    color: #1F1F1F;
    font-weight: bold;
    font-size: 120%;
    height: 70px;
    width: 190px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.buy-button:hover {
    opacity: 0.9;
}

.parent-parent {
    display: flex;
}

#add-cart-icon {
    margin-right: 5%;
}

#popup {
    display: none; /* Initially hide the popup */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Make sure it appears above other elements */
  }
  
  #popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D1CDC4;
    padding: 20px;
    width: 310px;
    min-height: 320px; /* Updated property to min-height */
    border-radius: 5px;
    border: 2px solid black;
  }
  
.popup-head {
    display: flex;
    justify-content: end;
}

  #closeButton {
    cursor: pointer;
    margin-top: 10px;
  }

.popup-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#closeButton {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 102%;
    font-weight: bold;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
}

#region {
    font-size: 115%;
    border: 1px solid black;
}

.submit-item {
    background-color: #1F1F1F;
    color: white;
    font-weight: bold;
    width: 60%;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 3px;
    font-size: 110%;
    margin-top: 7%;
    transition: background-color 0.15s;
}
.submit-item:hover {
    background-color: #8c5cea;
}

.popup-input {
    width: 100%;
    height: 50px;
    margin: 5% 0%;
}

#itemPrice {
    padding: 4%;
    font-size: 107%;
    height: 23%;
}

#itemName {
    border-radius: 0px;
}

.desc-input {
    margin-top: 10px;
    font-size: 110%;
    padding: 4%;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    border: 1px solid black;
}

.checkout-all-btn {
    padding: 2% 3%;
    border-radius: 5px;
    margin-bottom: 2%;
    font-size: 125%;
    background-color: #1F1F1F;
    color: white;
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 9999; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color, 0.15s;
}

.checkout-all-btn:hover {
    background-color: #393737;
}