* {
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scroll bar */

body {
    background-color: #D1CDC4;
    overflow: auto;
}

.nav-container {
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    height: 20%;
    padding-top: 1%;
    margin-bottom: 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container2 {
    display: flex;
    color: white;
    justify-content: end;
    padding-right: 1%;
}

.nav-container3 {
    display: flex;
    height: 100%;
    padding: 4%;
    align-items: center;
    justify-content: space-between;
}

.login-signup {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    cursor: pointer;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: start;
}

.logo {
    max-width: 200px;
}

.search-li {
    display: flex;
    justify-content: center;
    flex: 1;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.cart-icon-container {
    flex:1;
    display: flex;
    justify-content: end;
}

input[type="text"] {
    flex: 1;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px 40px 5px 10px;
    font-size: 16px;
}

.search-button {
    background-color: #8C52FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
}

.hero {
    padding: 10%;
}

.item-parent {
    display: flex;
    background-color: white;
    padding: 3%;
    width: 60%;
    max-width: 1100px;
    max-height: 520px;
    border-radius: 5px;
    border: 3px dashed black;
    margin: auto;
  }

.main-container {
    border-radius: 5px;
    margin-top: 14%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.item-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; /* Adjusted alignment to flex-start */
    margin-left: 2%; /* Adjusted margin */
    flex: 1; /* Let the item description container flexibly adjust its width */
  }
  
.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 10px); /* 4 items per row with 10px margin between each item */
    margin: 5px; /* margin between each item */
    /* background-color: white; */
    border:none;
    border-radius: 5px;
    margin-bottom: 2%;
}

.item-pic {
    /* flex: 1; Adjusted flex value */
    margin-right: 2%; 
}

.item-img {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
    position: relative;
}

.item-name {
    font-weight: bold;
    font-size: 160%;
}

.item-price {
    color: #FF5733;
    font-size: 100%;
}

.item-title {
    font-size: 180%;
}

.login-signup:hover {
    color: #9060ef;
}

.item-buttons {
    display: flex;
}

.item-description {
    width: 100%; /* Adjust the width as desired */
    max-width: 100%;
    font-size: 130%;
  }

.cart-button {
    background-color: #1F1F1F;
    color: white;
    font-weight: bold;
    font-size: 120%;
    height: 70px;
    width: 190px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 8%;
    cursor: pointer;
    transition: opacity 0.15s;
    position: relative;
}
.cart-button:hover {
    opacity: 0.9;
}

.buy-button {
    background-color: #1F1F1F;
    color: white;
    font-weight: bold;
    font-size: 120%;
    height: 70px;
    width: 190px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.15s;
    position: relative;
    margin-right: 5px;
}
.buy-button:hover {
    opacity: 0.9;
}

.remove-button {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 120%;
    height: 70px;
    width: 190px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 8%;
    cursor: pointer;
    transition: opacity 0.15s;
    position: relative;
}

.remove-button:hover {
    opacity: 0.5;
}

#add-cart-icon {
    margin-right: 5%;
}

.login-signup { 
    position: relative;
}