* {
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scroll bar */

body {
    background-color: #D1CDC4;
    overflow: auto;
}

.nav-container {
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    height: 140px;
    padding-top: 1%;
    margin-bottom: 1%;
}

.nav-container2 {
    display: flex;
    color: white;
    justify-content: end;
    padding-right: 1%;
}

.nav-container3 {
    display: flex;
    height: 100%;
    padding-top: 1%;
    align-items: start;
}

.login-signup {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    cursor: pointer;
}

.logo {
    max-width: 200px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    margin: 0 20px;
}

.search-li {
    padding-left: 380px;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

input[type="text"] {
    flex: 1;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px 40px 5px 10px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #8C52FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
}

#cart-icon {
    padding-left: 500px;
}

.main-container {
    border-radius: 5px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-parent {
    display: flex;
    /* align-items: center; */
    background-color: white;
    padding: 2%;
    width: 80%;
    /* max-width: 1100px; */
    max-height: 620px;
    border-radius: 5px;
    border: 3px dashed black;
}

.item-description-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 2%;
    /* width: 90%; */
    
}
  
.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 10px); /* 4 items per row with 10px margin between each item */
    margin: 5px; /* margin between each item */
    /* background-color: white; */
    height: auto;
    border:none;
    border-radius: 5px;
    margin-bottom: 2%;
}

.item-pic {
    width: 100%;
    height: 100%;
}

.item-img {
    height: 100%;
    width: 100%;
}

.item-name {
    font-weight: bold;
    font-size: 160%;
}

.item-price {
    color: #FF5733;
    font-size: 100%;
}

.item-title {
    font-size: 180%;
}

.login-signup:hover {
    color: #9060ef;
}

.item-buttons {
    margin-top: 11%;
    display: flex;
}

.item-description {
    margin-top: 8%;
    width: 100%;
    font-size: 130%
}

.cart-button {
    background-color: #1F1F1F;
    color: white;
    font-weight: bold;
    font-size: 120%;
    height: 70px;
    width: 190px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 8%;
    cursor: pointer;
    transition: opacity 0.15s;
}
.cart-button:hover {
    opacity: 0.9;
}

.buy-button {
    background-color: #1F1F1F;
    color: white;
    font-weight: bold;
    font-size: 120%;
    height: 70px;
    width: 190px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.buy-button:hover {
    opacity: 0.9;
}

#add-cart-icon {
    margin-right: 5%;
}
