* {
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scroll bar */

body {
    background-color: #D1CDC4;
    overflow: auto;
}

.nav-container {
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    height: 20%;
    padding-top: 1%;
    margin-bottom: 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container2 {
    display: flex;
    color: white;
    justify-content: end;
    padding-right: 1%;
}

.nav-container3 {
    display: flex;
    height: 100%;
    padding: 4%;
    align-items: center;
    justify-content: space-between;
}

.login-signup {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    cursor: pointer;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: start;
}

.logo {
    max-width: 200px;
}

.search-li {
    display: flex;
    justify-content: center;
    flex: 1;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.cart-icon-container {
    flex:1;
    display: flex;
    justify-content: end;
}

input[type="text"] {
    flex: 1;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px 40px 5px 10px;
    font-size: 16px;
}

.search-button {
    background-color: #8C52FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
}

.login-signup:hover {
    color: #9060ef;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}

.profile-icon {
    height: 200px;
}

.profile-stats {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
}

.profile-stats p {
    display: flex;
    flex-direction: column;
}

.stats-desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

#spent-icon {
    margin-top: 5px;
}

.stats-desc {
    font-weight: 850;
    font-size: 220%;
    width: 100%;
    margin-left: 5%;
    white-space: nowrap;
}

.stats {
    font-size: 160%;
    margin-top: 8px;
    margin-left: 4%;
    width: 100%;
    color: #8C52FF;
    font-weight: bolder;
    white-space: nowrap;
}

