<!DOCTYPE html>
<html>
  <head>
    <title>keyBay</title>
    <link rel="stylesheet" href="/stylesheet/cart.css">
    <script src="https://kit.fontawesome.com/e3297677e0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="nav-container">
       <div class="nav-container2 top" >
         <a class="login-signup" href="#"><p>Login</p></a>
         <p>|</p>
         <a class="login-signup" href="#"><p>Signup</p></a>
       </div>
       <div class="nav-container3">
         <ul>
           <li><img src="/images/keyBay2.svg" class="logo"></li>
           <li class="search-li">
               <form class="search-form">
                   <div class="search-container">
                   <input type="text" placeholder="Search">
                   <button type="submit"><i class="fa fa-search"></i></button>
                   </div>
               </form>
           </li>
           <li>
               <a href="#"><i id="cart-icon" class="fa-solid fa-cart-shopping fa-2xl" style="color: #8c52ff;"></i></a>
           </li>
         </ul>
       </div>
    </nav>
    <div class="main-container">
    <div class="item-parent">
     <div class="item-pic">
       <img class="item-img" src="/images/Keychron Q1.jpg">
     </div>
     <div class="item-description-container">
       <div class="item-name">
         <p class="item-title">Keychron Q1</p>
       </div>
       <div class="item-price">
         <h1>₱8,000</h1>
       </div>
       <div class="item-buttons">
         <button class="remove-button">Remove</button>
         <button class="buy-button">Check Out</button>
       </div>
     </div>
    </div> 
    <div class="item-parent">
      <div class="item-pic">
        <img class="item-img" src="/images/Keychron Q1.jpg">
      </div>
      <div class="item-description-container">
        <div class="item-name">
          <p class="item-title">Keychron Q1</p>
        </div>
        <div class="item-price">
          <h1>₱8,000</h1>
        </div>
        <div class="item-buttons">
          <button class="remove-button">Remove</button>
          <button class="buy-button">Check Out</button>
        </div>
      </div>
     </div>  
    </div>   
 </body>
</html>