<!DOCTYPE html>
<html>
  <head>
    <title>keyBay</title>
    <link rel="stylesheet" href="/stylesheet/item.css">
    <script src="https://kit.fontawesome.com/e3297677e0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="nav-container">
      <% if (isLoggedIn) { %>
        <div class="nav-container2 top" >
          <a class="login-signup" href="/logout"><p>Logout</p></a>
        </div>
      <% } else { %>
       <div class="nav-container2 top" >
         <a class="login-signup" href="/login"><p>Login</p></a>
         <p>|</p>
         <a class="login-signup" href="/signup"><p>Signup</p></a>
       </div>
      <% } %>
       <div class="nav-container3">
         <ul>
           <li><img src="/images/keyBay2.svg" class="logo"></li>
           <li class="search-li">
               <form class="search-form">
                   <div class="search-container">
                   <input type="text" placeholder="Search">
                   <button type="submit"><i class="fa fa-search"></i></button>
                   </div>
               </form>
           </li>
           <li>
               <a href="#"><i id="cart-icon" class="fa-solid fa-cart-shopping fa-2xl" style="color: #8c52ff;"></i></a>
           </li>
         </ul>
       </div>
    </nav>
    <div class="main-container">
    <div class="item-parent">
     <div class="item-pic">
       <img class="item-img" src="/images/Keychron Q1.jpg">
     </div>
     <div class="item-description-container">
       <div class="item-name">
         <p class="item-title"><%= itemData.name %></p>
       </div>
       <div class="item-price">
         <h1><%= itemData.price %></h1>
       </div>
       <div class="item-description">
         <p><%= itemData.description %></p>
       </div>
       <div class="item-buttons">
         <button class="cart-button"><i id="add-cart-icon" class="fa-solid fa-cart-plus fa-lg" style="color: #8c52ff;"></i>Add to cart</button>
         <button class="buy-button">Buy Now</button>
         <form action="/item/<%= itemId %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="remove-button">Remove Item</button>
         </form>
         
       </div>
     </div>
     
   </div>  
 </div>   
 </body>
</html>