#search-button {
    background-color: #8C52FF;
}

#mybgcolor {
    background-color: #1F1F1F;
}

#mybgcolor2 {
    background-color: #D1CDC4;
}

#itemprice {
    color: #FF5733;
}

#navbartogglerbtn {
    border: none;
}